/*
Error: Invalid CSS after "   }": expected selector or at-rule, was "}"
        on line 14 of /Users/vivianto1/Documents/GitHub/assignment-3--web-design-at-risd--summer-2018--schedule-3/site/sass/style.scss

9:    font-size: 72px;
10:    >#Ten-size{
11:       font-size: 90px;
12:       color:(#E8992D);}
13:    }
14: }

Backtrace:
/Users/vivianto1/Documents/GitHub/assignment-3--web-design-at-risd--summer-2018--schedule-3/site/sass/style.scss:14
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:42:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Koala.app/Contents/Resources/app.nw/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `load'
/Applications/Koala.app/Contents/Resources/app.nw/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"   }\": expected selector or at-rule, was \"}\"\A         on line 14 of /Users/vivianto1/Documents/GitHub/assignment-3--web-design-at-risd--summer-2018--schedule-3/site/sass/style.scss\A \A 9:    font-size: 72px;\A 10:    >#Ten-size{\A 11:       font-size: 90px;\A 12:       color:(#E8992D);}\A 13:    }\A 14: }"; }
